$black: #000;
$blue: #2F62B0;
$color-background: lighten($black, 2%);
$color-text: rgb(252, 252, 252);
$color-heading: rgb(255, 255, 255);
$color-text-link: #CBDCF9;
$pink: #D83669;
$red: #E90620;
$lavendar: #8D447C;
$gold: #e0d516;
