@import "reset";
@import "colors";
@import "typography";
@import "mixins";
@import "vars";
@import "top-section";
@import "services";
@import "portfolio";
@import "experience";

html, body {
	box-sizing: border-box;
	background: $color-background;
	color: #f3f3f3;
}


.container {
	max-width: 1150px;
	margin: 0 auto;
}
